body {
  font-family: "tahoma";
  font-size: 14px;
  background: #ccc;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: normal;
}

#squeeze {
  margin: 0 auto;
  padding: 60px 30px;
  width: 600px;
  background: #fff;
}
